/*adds fonts*/
@font-face {
    font-family: "Maitree";
    src: url(../fonts/Maitree-ExtraLight.ttf);
}
@font-face {
    font-family: "Maitree-bold";
    src: url(../fonts/Maitree-Medium.ttf);
}
@font-face {
    font-family: "Sanchez";
    src: url(../fonts/Sanchez-Italic.ttf);
}

/*Basic styles*/
html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h1, h2 {
    font-family: "Sanchez";
}
p, a {
    font-size: 1.5rem;
    font-family: "Maitree";
}
@media screen and (max-width: 770px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p, a {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
}

/*Navbar styles*/
#navbar {
    display: flex;
    padding: 1rem;
    margin: 0 1.5rem;
    align-items: baseline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: solid #218f97;
}
#navbarLogo {
    text-decoration: none;
    font-family: "Sanchez";
    font-size: 2rem;
    white-space: nowrap;
}
.navbarLink {
    text-decoration: none;
    color: #313335;
    font-family: "Sanchez";
    font-size: 1.7rem;
    margin: 0 0 0 1.5rem;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
@media screen and (max-width: 770px) {
    #navbarLogo {
        font-size: 1.7rem;
    }
    .navbarLink {
        font-size: 1.4rem;
    }
    #jumpDiv {
        top: 62.2px !important;
        left: 274px !important;
        width: 105px !important;
    }
}
@media screen and (max-width: 560px) {
    #navbar {
        margin: 0;
        padding: 1rem 2rem;
    }
    #navbarLogo {
        font-size: 1.3rem;
    }
    .navbarLink {
        font-size: 1.2rem;
        margin: 0 0 0 1rem;
        text-decoration: none;
    }
    #jumpDiv {
        top: 55.8px !important;
        left: 209px !important;
        width: 80.88px !important;
    }
}
@media screen and (max-width: 440px) {
    #navbarLogo {
        font-size: 1rem;
    }
    .navbarLink {
        font-size: .9rem;
    }
    #jumpDiv {
        top: 51.2px !important;
        left: 171px !important;
        width: 66.66px !important;
    }
}

/*Main styles*/
#mainPart {
    margin: 130px 1.5rem;
    padding: 0 1.5rem;
}
#mainTop {
    margin: 0 0 4rem 0;
}
.text {
    margin: 1rem 0;
    font-weight: bold;
    padding-right: 30vw;
}
.sectionText {
    margin: 1rem 0;
    font-family: "Maitree-bold";
    padding-right: 30vw;
}
.image {
    box-shadow: 11px 11px #da6b3d, -11px -11px #da6b3d;
    margin: 3rem 0;
    display: block;
}
@media screen and (max-width: 1240px) {
    .image {
        width: 80vw;
        height: auto;
        box-shadow: 8px 8px #da6b3d, -8px -8px #da6b3d;
    }
    .smallImage {
        width: auto;
    }
    .text, .sectionText {
        padding-right: 0;
    }
}
@media screen and (max-width: 630px) {
    .smallImage {
        width: 80vw;
    }
}
/*Step Sections*/
.stepSection {
    padding-top: 80px;
}

/*Footer styles*/
#footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 0 1.5rem;
    border-top: solid #d1bd51;
}
.footerText {
    font-weight: bold;
}
@media screen and (max-width: 1330px) {
    .footerText {
        font-size: 1.8vw;
    }
}
@media screen and (max-width: 850px) {
    #footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .footerBuffer {
        display: none;
    }
    .footerText {
        font-size: 1rem;
    }
}

/*Dark mode*/
.darkmodeButton:hover {
    cursor: pointer;
}
.darkmodeText {
    color: white;
}
.darkmodeBackground {
    background-color: #313335 !important;
}


/*Jump styles*/
#jumpDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    background: white;
    border-left: solid #218f97;
    border-right: solid #218f97;
    border-bottom: solid #218f97;
    top: 67px;
    left: 312px;
    width: 117px;
}
.hide {
    display: none !important;
}
.jumpLink {
    padding: 4px auto;
    margin: 5px 0;
}
.jumpLink:hover {
    background-color: #9a9fa5;
}
.jumpButton:hover {
    cursor: pointer;
}